*{
    background-color:#f0f8ff;
    border:2px dotted #ff0000;
}
body{
    background-color:#ffebcd;
    color:#faebd7;
}
p{
    font-size: 20px;

}
h1{
    color: #abff2e;
    background-color: #8a2be2;
    text-align: center;
    font-style:oblique;
    line-height: 3;
}
    a:hover{
color:#adff2f;
    }   
    a{
        color:#0000ff;
    } 
    a:active{
        color:#ffff00;
    }
    li:first-child{
        font-weight:bold;
    }
    li:last-child{
        font-weight:bold;
    }
li{
background-color: #7b172b;
}